body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.main-bg {
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

login-container {
  background-color: #5f0229;
  padding: 40px 0 0 40px;
  width: 400px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

logo-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.logo-img {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 40px;
  margin-right: 0;
  max-width: 160px;
  height: auto;
  display: block;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-field {
  display: block;
  width: 150%;
  padding: 7px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 0;
}

username-label,
password-label {
  color: #ffffff;
  font-weight: bold;
  display: block;
  margin-left: 0;
  margin-bottom: 5px;
  text-align: left;
}

.login-button {
  background-color: #29251d;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 10px;
}

.register-button {
  background-color: #ffffff;
  color: #5f0229;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 0px;
}

.button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0;
}

@media (max-width: 900px) {
  login-container {
    width: 100vw;
    min-height: auto;
    padding: 20px 0 0 20px;
  }
  .main-bg {
    display: none;
  }
  .logo-img {
    max-width: 120px;
    margin-bottom: 20px;
  }
}

.message {
  margin-top: 10px;
  font-weight: bold;
}
